<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mental Health</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
  <body>
    <div id="header" class="header">
       <nav class="navbar navbar-expand-lg navbar-light bg-primary text-capitalize">
          <div class="container">
             <a class="navbar-brand" href="#"><img src="static/imgs/logo4.jpeg" alt="#" /></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="show-menu">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item active">
                      <a class="nav-link" href="#home">Home</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#about">About</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#service">Service</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#wcs">What Clients Say</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#contact">Contact us</a>
                   </li>
                  </ul>
             </div>
          </div>
       </nav>
    </div>
    <div id="home" class="slider">
       <div id="main_slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
             <li data-target="#main_slider" data-slide-to="0" class="active"></li>
             <li data-target="#main_slider" data-slide-to="1"></li>
             <li data-target="#main_slider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
             <div class="carousel-item active">
                <img class="d-block w-100" src="static/imgs/landing_1_.jpg" alt="slider_img">
                <div class="ovarlay_slide_cont">
                   <h2>We love working</h2>
                   <h4>Maintenance service</h4>
                   <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>
                   <a class="blue_bt" href="#">See Our Service</a>
                </div>
             </div>
             <div class="carousel-item">
                <img class="d-block w-100" src="static/imgs/many_1_.jpg" alt="slider_img">
                <div class="ovarlay_slide_cont">
                   <h2>We love working</h2>
                   <h4>Maintenance service</h4>
                   <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>
                   <a class="blue_bt" href="#">See Our Service</a>
                </div>
             </div>
             <div class="carousel-item">
                <img class="d-block w-100" src="static/imgs/landing_3.jpg" alt="slider_img">
                <div class="ovarlay_slide_cont">
                   <h2>We love working</h2>
                   <h4>Maintenance service</h4>
                   <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>
                   <a class="blue_bt" href="#">See Our Service</a>
                </div>
             </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <img src="static/imgs/left.png" alt="#" />
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <img src="static/imgs/right.png" alt="#" />
          </a>
       </div>
    </div>
    <div id="about" class="about_section layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <h4>ABOUT US</h4>
                <h3 style="text-transform: none !important">We Build for Your Better Mental Health</h3>
                <p>More than 450 million people suffer from mental disorders.  According to WHO, by the year 2020, depression will constitute the second largest disease burden worldwide (Murray & Lopez, 1996).  Global burden of mental health will be well beyond the treatment capacities of developed and developing countries.  The social and economic costs associated with growing burden of mental ill health focused the possibilities for promoting mental health as well as preventing and treating mental illness. </p>
             </div>
             <div class="col-md-6 mt-5 offset-md-1">
                <div class="full text_align_center">
                   <img class="img-responsive" src="static/imgs/3_doctors.jpg" alt="#" />
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="service" class="hiw_section layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-md-7">
                <h3>OUR SERVICES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
             </div>
             <div class="col-md-5">
             </div>
          </div>
          <div class="row">
             <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="static/imgs/services.jpeg" alt="#" />
                <h3 class="blog_head">Book Online</h3>
             </div>
             <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="static/imgs/services.jpeg" alt="#" />
                <h3 class="blog_head">Confirmation</h3>
             </div>
             <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="static/imgs/services.jpeg" alt="#" />
                <h3 class="blog_head">Work Status</h3>
             </div>
             <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="static/imgs/services.jpeg" alt="#" />
                <h3 class="blog_head">Work Status</h3>
             </div>
             <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="static/imgs/services.jpeg" alt="#" />
                <h3 class="blog_head">Work Status</h3>
             </div>
          </div>
       </div>
    </div>
    <div id="contact" class="hiw_section layout_padding" style="background: #eeefef;">
       <div class="container">
          <div class="row">
             <div class="col-md-7">
                <h3>Get in touch with us</h3>
             </div>
             <div class="col-md-5">
             </div>
          </div>
          <div class="row">
             <div class="col-md-7">
                <div class="contact-form">
                   <form action="/userform" method="POST">
                      <input type="text" name="Name" placeholder="Name" />
                      <input type="email" name="Email" placeholder="Email" />
                      <input type="text" name="PhoneNumber" placeholder="Phone Number" />
                      <textarea name="Message" placeholder="Message"></textarea>
                      <input type="submit" value="SEND">
                   </form>
                </div>
             </div>
             <div class="col-md-5 mt-6 text_align_center">
                <img class="img-responsive" src="static/imgs/thinking.jpg" alt="#" />
             </div>
          </div>
       </div>
    </div>
    <div id="wcs" class="hiw_section layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-md-12 text_align_center">
                <h3>Our programme member Say</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
             </div>
             <div class="col-md-5">
             </div>
          </div>
          <div class="row">
             <div class="col-md-11">
                <div class="full testimonial_blog">
                   <p>Jackrok</p>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quam reprehenderit numquam maiores provident in assumenda recusandae reiciendis excepturi adipisci nemo. Iusto maiores quae dolorem illo dolores, tempore voluptate deserunt veritatis eius dolore voluptas perspiciatis totam asperiores harum perferendis! Numquam, quidem explicabo accusantium maxime cumque ducimus molestias inventore est libero porro provident consequatur doloremque. Quam accusantium totam ipsum architecto alias nulla saepe nobis at aperiam dolor? Sapiente minus nostrum impedit, ipsum ea accusamus provident aliquam!</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="subcribe">
       <div class="container">
          <div class="row">
             <div class="col-md-4 col-sm-6">
                <h3>Newsletter</h3>
                <p>Get our monthly magazine by aadding your email address</p>
             </div>
             <div class="col-md-8 col-sm-6">
                <form>
                   <input type="email" name="email" placeholder="Enter Your Email Address" />
                   <button>Subscribe</button>
                </form>
             </div>
          </div>
       </div>
    </div>
    <footer>
       <div class="container">
          <div class="row">
             <div class="col-lg-3 col-md-6 col-12">
                <div class="footer_blog_section">
                   <img src="static/imgs/logo4.jpeg" alt="#" />
                   <p style="margin-top: 5px;">The best thing you can do when being depressed is to seek help</p>
                </div>
             </div>
             <div class="col-lg-2 col-md-6 col-12">
                <div class="item">
                   <h4 class="text-uppercase">Navigation</h4>
                   <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Service</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 col-12">
                <div class="item">
                   <h4 class="text-uppercase">Contact Info</h4>
                   <p><strong>Corporate Office Address:</strong></p>
                   <p><img src="static/imgs/phone_icon.png" alt="#" /> 1234 River Street New York, NY 36524</p>
                   <p><strong>Customer Service:</strong></p>
                   <p><img src="static/imgs/location.png" alt="#" /> 987 654 3210</p>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-12">
                <div class="item">
                   <h4 class="text-uppercase">Discover</h4>
                   <ul>
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Subscribe</a></li>
                      <li><a href="#">Contact Us</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright text-center">
          <p>Copyright 2019  Design by <a href="https://html.design">Free Html Templates</a></p>
       </div>
    </footer>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>
       $(function () {
           
           'use strict';
           
           var winH = $(window).height();
           
           $('header').height(winH);  
           
           $('header .container > div').css('top', (winH / 2) - ( $('header .container > div').height() / 2));
           
           $('.navbar ul li a.search').on('click', function (e) {
               e.preventDefault();
           });
           $('.navbar a.search').on('click', function () {
               $('.navbar form').fadeToggle();
           });
           
           $('.navbar ul.navbar-nav li a').on('click', function (e) {
               
               var getAttr = $(this).attr('href');
               
               e.preventDefault();
               $('html').animate({scrollTop: $(getAttr).offset().top}, 1000);
           });
       })
    </script>
 </body>
</body>
</html>
